header{
	padding: 1rem 0.5rem 0.5rem 0.5rem;
	background-color: rgb(73, 82, 107);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
header .logo-container .logo-img{
	display: none;
}
header .search-bar{
	outline: none;
	padding: 6px 5px 6px 5px;
	border-radius: 2rem;
	border: none;
}
header .menu-container{
	display: flex;
	flex-direction: row;
	align-items: center;
}
header .menu-container .item{
	margin: 0 0.5rem 0 0.5rem;
	display: flex;
}
header .menu-container .item a{
	color: white;
	text-decoration: none;
}
header .menu-container .item, .cart span{
	color: white;
}
header .menu-container .cart{
	margin: 0 0.5rem 0 1rem;
	text-align: center;
}
header #login{
	display: none;
}
header #signin{
	text-align: center;
}